{% load static %}
<footer class="pt-3 mt-4 bg-light small">
    <div class="text-center pb-2">
        <img class="img-fluid" width="100px" src="{% static 'painel_controle/img/logo_ifsc.png' %}" />
        <ul class="nav justify-content-center pt-3">
            <li class="nav-item"><a href="https://www.ifsc.edu.br" target="_blank"
                    class="nav-link btn text-dark bi bi-house"> Site
                    Oficial</a>
            </li>
            <li class="nav-item"><a href="https://www.ifsc.edu.br/web/campus-cacador" target="_blank"
                    class="nav-link btn text-dark bi bi-newspaper"> Campus Caçador</a>
            </li>
        </ul>
        <div class="d-flex justify-content-center my-3">
            <a href="https://www.facebook.com/" target="_blank"
                class="btn btn-light mx-2 bi bi-facebook border-1 border-dark">
            </a>
            <a href="https://www.instagram.com/" target="_blank"
                class="btn btn-light mx-2 bi bi-instagram border-1 border-dark">
            </a>
            <a href="https://www.linkedin.com/company/" target="_blank"
                class="btn btn-light mx-2 bi bi-linkedin border-1 border-dark">
            </a>
            <a href="https://www.youtube.com/" target="_blank"
                class="btn btn-light mx-2 bi bi-youtube border-1 border-dark">
            </a>
        </div>
        <p class="text-center text-muted small">Av. Fahdo Thomé, 3000 - Champagnat, Caçador - SC, 89503-550.</p>
        <span class="text-center text-muted small">by: <a class="link-success" href="https://github.com/Wendel0007" target="_blank">Wendel Mariano</a> - SI Instituto Federeal de Santa Catarina.</span>
    </div>
</footer>
</body>

</html>