{% extends 'dashboard/components/base.html' %}

{% block title %}IFSC Caçador - Painel de Controle{% endblock title %}

{% block conteudo %}
{% load static %}

<main class="pt-5">
    <section class="mt-5" id="home">
        <div class="container mt-5">
            <nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">IFSC Caçador</li>
                <li class="breadcrumb-item">
                  {{ user }}
                </li>
                <li class="breadcrumb-item">
                  <a class="text-success" href="{% url 'dashboard' %}">Painel</a>
                </li>
              </ol>
            </nav>
        </div>
    </section>
    <section class="mt-3" id="options">
        <div class="container mt-3">
          <div class="row row-cols-1 row-cols-md-3 g-4 mt-2 text-center">
            <div class="col">
              <a class="text-decoration-none" href="{% url 'painelSolicitacoes' %}">
                <div class="card h-100 border-success shadow">
                  <div class="card-body">
                    <i
                      class="bi bi-file-earmark-arrow-up"
                      style="font-size: 3rem; color: green"></i>
                    <h5 class="card-title fw-bold">Painel de Solicitações</h5>
                    
                    <p class="card-text text-muted small">
                      Painel de Solicitações. <code><span class="text-success fw-bold">Em desenvolvimento.</span></code>
                    </p>
                  </div>
                </div>
              </a>
            </div>
            <div class="col">
              <a class="text-decoration-none" href="{% url 'painel_cantina' %}">
                <div class="card h-100 border-success shadow">
                  <div class="card-body">
                    <i
                      class="bi bi-shop-window"
                      style="font-size: 3rem; color: green"></i>
                    <h5 class="card-title fw-bold">Painel Cantina</h5>
                    <p class="card-text text-muted small">
                      Painel Cantina - Controle de pedidos e Produtos. <code><span class="text-success fw-bold">Em desenvolvimento.</span></code>
                    </p>
                  </div>
                </div>
              </a>
            </div>
            <div class="col">
              <a class="text-decoration-none" href="{% url 'pedidos_cantina' %}">
                <div class="card h-100 border-success shadow">
                  <div class="card-body">
                    <i
                      class="bi bi-basket"
                      style="font-size: 3rem; color: green"></i>
                    <h5 class="card-title fw-bold">Cantina</h5>
                    <p class="card-text text-muted small">
                      Fazer pedidos/reserva para a cantina. <code><span class="text-success fw-bold">Em desenvolvimento.</span></code>
                    </p>
                  </div>
                </div>
              </a>
            </div>
        </div>
    </section>
  </main>
{% endblock conteudo %}