{% extends 'dashboard/auth/base.html' %}
{% load static %}
{% block title %}Recuperar senha - IFSC{% endblock title %}

{% block conteudo %}
<div class="container mt-2 pt-2 mt-lg-3 pt-lg-3">
    <div class="row">
        <div class="col-md-6 mx-auto mt-3 shadow p-0 p-md-5">
            
            <section class=" d-flex flex-column align-items-center mt-3">
                <div class="text-center mb-3">
                    <img class="img-fluid" width="150px" src="{% static 'painel_controle/img/logo_ifsc.png' %}" />
                </div>

                {% if formulario.errors %}
                    <div class="alert alert-success mt-3" role="alert">
                        <p>O formulário contém erros, por favor confira as informações</p>
                    </div>
                {% endif %}

                <form class="mx-5 w-100" method="POST">
                  <h3 class="fw-bold text-success mb-3">Recuperar acesso</h3>
                  <p class="text-muted">Informe abaixo o email que utilizou para cadastro em nosso sistema.</p>
                  {% csrf_token %}
                      {% for field in form %}
                      <div class="form-floating mb-3">
                          {{field}}
                          <label class="" for="{{field.label}}">{{field.label}}</label>
                      </div>
                      {% endfor %}
                      <p class="text-center fw-bold">Após este processo, verifique a caixa de entrada ou spam do email que informou.</p>
                  <div class="d-grid gap-2 col mx-auto mb-3">
                    <button type="submit" class="btn btn-success">Solicitar <i class="bi bi-arrow-right text-white"></i></button>
                  </div>
                  {% if not user.is_authenticated %}
                  <div class="d-grid gap-2 d-md-flex justify-content-center">
                    <a class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="{% url 'cadastro_action' %}" href="#">Não tem cadastro?</a>
                  </div>
                  {% endif %}
                </form>
            </section>

        </div>
    </div>
</div>
{% endblock conteudo %}