{% extends 'dashboard/auth/base.html' %}
{% load static %}
{% block title %}Senha redefinida - IFSC{% endblock title %}

{% block conteudo %}
<div class="container mt-2 pt-2 mt-lg-3 pt-lg-3">
    <div class="row">
        <div class="col-md-6 mx-auto mt-3 shadow p-0 p-md-5">
            
            <section class=" d-flex flex-column align-items-center mt-3">
                <div class="text-center mb-3">
                    <img class="img-fluid" width="150px" src="{% static 'painel_controle/img/logo_ifsc.png' %}" />
                </div>

                <div class="col d-flex align-items-center h-100 ">
                  <div class="mx-5 w-100">
                    <h3 class="fw-bold text-success text-center mb-3">Senha redefinida!</h3>
                    <p class="text-center">Sua senha foi redefinida com sucesso.</p>
                
                    <div class="d-grid gap-2 col mx-auto mb-3">
                      <a href="{% url 'login_form' %}" class="btn btn-success">Pagina de acesso <i class="bi bi-arrow-right text-white"></i></a>
                    </div>
                  </div>
                </div>
                
            </section>

        </div>
    </div>
</div>
{% endblock conteudo %}