{% extends 'dashboard/auth/base.html' %}
{% load static %}
{% block title %}Recuperar senha - IFSC{% endblock title %}

{% block conteudo %}
<div class="container mt-2 pt-2 mt-lg-3 pt-lg-3">
    <div class="row">
        <div class="col-md-6 mx-auto mt-3 shadow p-0 p-md-5">
            
            <section class=" d-flex flex-column align-items-center mt-3">
                <div class="text-center mb-3">
                    <img class="img-fluid" width="150px" src="{% static 'painel_controle/img/logo_ifsc.png' %}" />
                </div>

                {% if formulario.errors %}
                    <div class="alert alert-success mt-3" role="alert">
                        <p>O formulário contém erros, por favor confira as informações</p>
                    </div>
                {% endif %}

                <form class="mx-5 w-100" method="POST">
                  <h3 class="fw-bold text-success text-center mb-3">Redefinir senha</h3>
                  <p class="text-muted">Informe abaixo um nova senha de acesso.</p>
                  {% csrf_token %}
                  <div class="form-floating mb-3">
                      <input class="form-control" placeholder="Nova Senha" type="text" autocomplete="new-password" name="new_password1" id="id_new_password1" required>
                      <label class="" for="id_new_password1">Nova senha</label>
                  </div>
                  
                  <div class="form-floating mb-3">
                      <input class="form-control" placeholder="Confirmar nova senha" type="password" autocomplete="new-password" name="new_password2" id="id_new_password2" required>
                      <label class="" for="id_new_password2"">Confirme a nova senha</label>
                  </div>
                  <div class="d-grid gap-2 col mx-auto mb-3">
                    <button type="submit" class="btn btn-success">Redefinir senha <i class="bi bi-arrow-right text-white"></i></button>
                  </div>
                  <span class="helptext">
                    <ul>
                        <li>Sua senha não pode ser muito parecida com o resto das suas informações pessoais.</li>
                        <li>Sua senha precisa conter pelo menos 8 caracteres.</li>
                        <li>Sua senha não pode ser uma senha comumente utilizada.</li>
                        <li>Sua senha não pode ser inteiramente numérica.</li>
                    </ul>
                </span>
                </form>
            </section>

        </div>
    </div>
</div>
{% endblock conteudo %}