{% extends 'solicitacoes/base.html' %}

{% block title %}IFSC Caçador - Painel de Aprovação de Solicitações{% endblock title %}

{% block conteudo %}
{% load static %}

<main class="pt-5">
    <section class="mt-5" id="home">
        <div class="container mt-5">
            <nav class="small" style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">IFSC Caçador</li>
                <li class="breadcrumb-item">
                  {{ user }}
                </li>
                <li class="breadcrumb-item">
                  Painel de Aprovação de Solicitações
                </li>
              </ol>
            </nav>
        </div>
    </section>
    <section class="mt-3" id="options">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h4 class="text-center fw-bold my-3">Painel de Aprovação de Solicitações</h4>
                    <p class="text-center text-muted">
                        Aprovação de Solicitações
                    </p>
                </div>
                {% if solicitacoes %}
                <div class="col-12 table-responsive">
                  <table class="table text-center">
                    <thead>
                      <tr>
                        <th>Tipo</th>
                        <th>Matricula</th>
                        <th>Status</th>
                        <th>Data</th>
                        <th>Opções</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for solicitacao in solicitacoes %}
                      <tr>
                        <td class="text-start">{{solicitacao.tipo_solicitacao.nome_completo}}</td>
                        <td>{{solicitacao.user.perfil.matricula}}</td>
                        <td>{{solicitacao.status}}</td>
                        <td>{{solicitacao.data_cadastro}}</td>
                        <td>
                            <a class="btn btn-outline-info bi bi-pencil-square" href="{% url 'aprovacaoSolicitacao' id=solicitacao.id %}"></a>
                            <a class="btn btn-outline-danger bi bi-trash" href="{% url 'deletarSolicitacao' id=solicitacao.id %}" onclick="confirm('Deseja relmente excluir a solicitação?');"></a>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
                {% else %}
                <div class="col-12">
                  <div class="alert alert-info" role="alert">
                    Não exite solicitações para este usuário.
                  </div>
                </div>
                {% endif %}
            </div>
        </div>
    </section>
  </main>
{% endblock conteudo %}